<header class="">
    <!-- start navigation -->
    <nav class="navbar no-sticky navbar-expand-lg navbar-light bg-light header-light header-reverse-scroll top-logo z-index-2">
        <div class="container-fluid flex-wrap nav-header-container" style="background-color: #e5fbe6;">
            <div class="col-12 col-sm-12 col-lg-8 mx-lg-auto text-center d-flex align-items-center justify-content-between">       
                <div class="col d-flex align-items-center justify-content-start text-extra-dark-gray ms-auto p-0">
                    <div class="header-search-icon search-form-wrapper">
                        <a href="javascript:void(0)" class="search-form-icon header-search-form"><i class="fa fa-search"></i></a>
                        <!-- start search input -->
                        <div class="form-wrapper">
                            <button title="Close" type="button" class="search-close alt-font">×</button>
                            <form id="searchForm" role="search" method="GET" class="search-form search-form-ajax text-start">
                                <div class="search-form-box">
                                    <input class="search-input alt-font" id="searchFormInput" placeholder="Que recherchez-vous ?" name="query" value="{{ app.request.query.get('q') }}" type="text" autocomplete="off">
                                    <button type="submit" class="search-button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- end search input -->
                    </div>
                </div>
                
                <a class="col navbar-brand mx-auto px-0 flex-column flex-center-x" href="{{ path('app_index') }}">
                    <!-- <h1 class="h-font h1 text-custom-h1 m-0 text-success" style="line-height: 100%;">Herboristory</h1> -->
                    <h1 class="h-font h1 text-custom-h1 text-uppercase fw-bold mb-0" style="color: #419e3c; border-color: #419e3c50 !important; word-break: keep-all;">Herboristory</h1>
                </a>                            
                
                <div class="col flex-end flex-center-y">
                    {% if is_granted('ROLE_USER') %}
                        <div class="position-relative" style="width:fit-content">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://i.pinimg.com/originals/b4/96/bb/b496bb42b647e44e429d4be15a909231.jpg" class="profile-picture sm">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a href="{{ path('app_dashboard') }}" class="dropdown-item">
                                        <i class="fa fa-home text-secondary me-2 small"></i> Gestionnaire
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                                        <i class="fa fa-power-off text-danger me-2 small"></i> Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="col-auto text-end">
                        <div class="header-push-button">
                            <a href="javascript:void(0);" class="push-button " style="z-index: 900;">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <div class="hamburger-menu hamburger-menu-big-font w-100 xl-w-100 h-container" style="background: #9acc9cd4; overflow-y: hidden; top: 69px;">
        <div class="row g-0 h-100">
            <div class="col-lg-8 col-sm-12 m-auto">
                <div class="row g-0 align-items-center justify-content-center h-100 padding-5-half-rem-all xs-padding-3-rem-all">
                    <div class="col-12 menu-list-wrapper menu-list-wrapper-small text-center text-md-start mCustomScrollbar _mCS_1 mCS_no_scrollbar" data-scroll-options="{ &quot;theme&quot;: &quot;light&quot; }">
                        <ul class="menu-list alt-font w-100 text-center">
                            <li class="menu-list-item"><a href="{{ path('app_index') }}">Accueil</a></li>
                            <li class="menu-list-item"><a href="{{ path('app_search') }}">Plantes</a></li>
                            <li class="menu-list-item"><a href="{{ path('app_post_index') }}">Articles</a></li>
                            <li class="menu-list-item"><a href="{{ path('app_about') }}">A propos</a></li>
                            <li class="menu-list-item"><a href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>
                        <div class="alt-font margin-50px-top social-icon-style-07">
                            <ul class="list-style-03 light text-center">
                                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f w-30px"></i>Facebook</a></li>
                                <li class="no-border"><a class="instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram w-30px"></i>Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end navigation -->
</header>