{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.commonName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.scientific_class) }}
            {{ form_row(form.scientific_order) }}
            {{ form_row(form.scientific_family) }}
            {{ form_row(form.scientific_genus) }}
            {{ form_row(form.scientific_species) }}
            {{ form_row(form.category) }}
            {{ form_row(form.iucn_redlist) }}
            {{ form_row(form.similitude) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.feature.root) }}
            {{ form_row(form.feature.rod) }}
            {{ form_row(form.feature.leaf) }}
            {{ form_row(form.feature.flower) }}
            {{ form_row(form.feature.fruct) }}
            {{ form_row(form.feature.seed) }}
        </div>
        <div id="plant_feature">
            <div id="plant_feature_attributes">
                {% for key, array in attr %}
                    {% for attribute in attr[key] %}
                        <label for="plant_feature_attributes_{{ attribute.id }}">{{ attribute.label|u }}</label>
                        <input type="checkbox" id="plant_feature_attributes_{{ attribute.id }}" name="plant[feature][attributes][]" value="{{ attribute.id }}" {{ (attribute in plant.feature.attributes) ? 'checked="checked"' }}>
                    {% endfor %}
                    <br>
                {% endfor %}
            </div>
        </div>
        {{ form_row(form._token) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}