<section id="descriptionPage" class="py-5 my-2">
    <h2 class="h1 text-center text-danger text-uppercase fw-bold">Description</h2>
    <p class="mt-3 pt-4 border-top" style="border-color: #e0f9e1 !important;">{{ post.content.descriptionPage }}</p>
</section>

{% if post.content.images is not null %}
    <section id="imagesPage" class="py-5 my-2">
        <h2 class="h1 text-center text-green-h text-uppercase fw-bold">Images</h2>
        <ul class="portfolio-overlay portfolio-wrapper grid grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center" style="position: relative; height: 352.783px;">
            <li class="grid-sizer"></li>
            {% for key, image in post.content.images %}
                <li class="grid-item wow animate__fadeIn" style="position: absolute; left: 0%; top: 0px; animation: 0s ease 0s 1 normal none running none;">
                    <a href="{{ image }}" title="{{ post.plant.commonName ~ '_' ~ key }}" data-group="lightbox-gallery" class="lightbox-group-gallery-item">
                        <div class="portfolio-box">
                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                <img src="{{ image }}" alt="" data-no-retina="">
                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                    <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}

{% if post.content.links is not null %}
    <section id="linksPage" class="py-5 my-2">
        <h2 class="h1 text-center text-green-h text-uppercase fw-bold">Liens externes</h2>
        <ul>
            {% for link in post.content.links %}
                <li>
                    <a href="{{ link }}" target="_blank">{{ link }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}