{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <!-- <a href="{{ path('app_post_index') }}">back to list</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }} -->

    <a href="{{ setReferer(app.request) }}" class="btn btn-danger">Retour</a>
    <article class="py-5">

        <section class="position-relative py-0">
            {% if (post.plant is not null and (post.plant.category|isToxic) == true) %}
                <div class="col-12 alert alert-danger alert-dismissible fade in show" role="alert">
                    <!-- <button type="button" class="btn-close line-height-unset" data-bs-dismiss="alert" aria-label="Close"></button> -->
                    <strong class="d-block text-center text-danger h3">Danger!</strong>
                    <span class="text-center d-block">Cette plante présente des effets toxiques ou néfaste pour la santé. Soyez vigilant...</span>
                    <div class="row mt-5 px-5">
                        <div class="col-lg-6">
                            <p class="m-0">Cette plante présente des similarités avec :</p>
                            <ul class="list-unstyled ms-3">
                                {% for plant in post.plant.similitudes %}
                                    <li class="fw-bold">- <a class="text-danger" href="{{ path('app_post_show', {slug: plant.post.slug}) }}">{{ plant.commonName }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-6 flex-center flex-column">
                            <p class="m-0">Cette plante présente des similarités avec :</p>
                            <ul class="list-unstyled ms-3">
                                {% for plant in post.plant.similitudes %}
                                    <li class="fw-bold">- <a class="text-danger" href="{{ path('app_post_show', {slug: plant.post.slug}) }}">{{ plant.commonName }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <img src="{{ post.image ?: 'https://via.placeholder.com/800x650' }}" class="vignette-image w-100" style="height: 450px !important;" alt="Photo principale - {# post.plant.commonName #}">
            <div class="w-100 d-flex justify-content-end middle-top px-2">
                {% if post.plant is not null %}
                    {% for category in post.plant.category %}
                        <i class="fa {{ category|getIcon }} text-white round type-icon-lg mx-1" title="{{ category|getAlt }}"></i>
                    {% endfor %}
                {% endif %}
            </div>
        </section>

        <div class="row flex-row{{ (post.plant is null) ? '-reverse' : '' }} py-4">
            <div id="content" class="col-lg-8 col-sm-12 position-relative"></div>
            <div id="rightbar" class="col-lg-4 col-sm-12 position-relative"></div>
        </div>

    </article>

{% endblock %}

{% block javascripts %}
    {{ include('_js/show.js.twig') }}
{% endblock %}
