{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div>
    <div class="col-lg-12">
        <a href="{{ path('app_plant_new') }}"><i class="fa fa-plus"></i> plante</a>
        <a href="{{ path('app_post_new') }}"><i class="fa fa-plus"></i> article</a>
        <a href="{{ path('app_plant_feature_secondary_new') }}"><i class="fa fa-plus"></i> attribut</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Plante</th>
                <th>Caractéristique</th>
                <th>Article</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants %}
            <tr>
                <td>
                    <a href="{{ (plant.post.slug is defined) ? path('app_post_show', {slug: plant.post.slug}) : '#' }}">
                        <img src="{{ (plant.post.image is defined and plant.post.image is not null) ? plant.post.image : '' }}" style="height: 60px; width: 120px; object-fit: cover; border-radius: 5px 0 0 5px;">
                        {{ plant.commonName }}
                    </a>
                </td>
                <td>{{ (plant.feature is not null) ? 'V' : 'X' }}</td>
                <td>{{ (plant.post is not null) ? 'V' : 'X' }}</td>
                <td>{{ (plant.post.content is defined and plant.post.content is not null) ? 'V' : 'X' }}</td>
                <td>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a href="{{ path('app_plant_edit', {id:plant.id}) }}" class="dropdown-item">
                                Modifier la plante
                            </a>
                            <a href="{{ (plant.post is not null) ? path('app_post_edit', {id:plant.post.id}) : path('app_post_new', {plant:plant.id}) }}" class="dropdown-item">
                                {{ (plant.post is not null) ? 'Modifier l\'' : 'Créer un' }} article
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
